/* TODO Add site wide styles */
* {
    margin: 0px;
    text-decoration: none;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.dev{
    border: 1px dotted red;
}

.margin5-top-bottom{
    margin: 5px 0px;
}

.default-button{
    padding: 5px 10px;
    border-radius: 4px;
}

.rd-bg{
    background-color: red;
    color: white
}
