.delete-review-modal{
    z-index: 5;
    padding: 25px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.stndrd-btn{
    padding: 6px;
    font-weight: bold;
    border-radius: 3px;
}
.stndrd-btn:hover{
    cursor: pointer;
}


.delete-keep button{
    margin: 10px;
}
